body {
    margin: 0;
}

header {
    background-image: url(estampado2.png);
    background-size: 200px;
    background-color: #f8fafc;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0px;

}

header nav {
    background-color: #0b76ef;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;

}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 1rem;

}

nav a:hover {
    text-decoration: underline;
    color: #fbbf24;
    ;
}

#logoeveryone {
    width: 200px;
    height: auto;
    margin: 0px;
    max-width: 300PX;

}

h5 {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
    margin: 0px;
    padding-right: 15px;
}

.hidden {
    display: none;
}