* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f8fafc;
    color: #1e293b;
    line-height: 1.6;

}

header {
    background: #0b76ef;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.logo {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 1px;
}

nav a {
    color: white;
    margin: 0 1.2rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 90px;
    padding: 2rem 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 5rem;

}

h1 {
    font-size: 3.2rem;
    color: #0b76ef;
    text-align: center;
    margin: 2rem 0 1rem;
}

h2 {
    color: #0b76ef;
    font-size: 1.8rem;
    border-bottom: 3px solid #fbbf24;
    padding-bottom: 0.5rem;
    display: inline-block;
    margin: 2rem 0 1rem;
}

h3 {
    color: #1e293b;
    margin: 1.5rem 0 1rem;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 2rem;
    margin: 2rem 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

.text-center {
    text-align: center;
}

.gold {
    color: #fbbf24;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 12px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: all .3s;
    font-size: 1.2rem;
}

.btn-student {
    background: #ffffff;
    color: #0b76ef;
}

.btn-teacher {
    background: #fbbf24;
    color: #1e293b;
}

.btn:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    margin: 1rem 0;
    font-family: inherit;
}

footer {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 2.5rem;
    margin-top: 5rem;
}

/* Juegos */
.game-box {
    background: #f0f9ff;
    border-radius: 16px;
    padding: 2rem;
    text-align: center;
}

.game-box button {
    background: #0b76ef;
    color: white;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.game-box button:hover {
    background: #2563eb;
}

@media (max-width:768px) {
    h1 {
        font-size: 2.5rem;
    }

    .btn {
        padding: 0.9rem 2rem;
        font-size: 1.1rem;
    }

    nav a {
        margin: 0 0.6rem;
        font-size: 1rem;
    }
}